.cart-sidebar-cart-item-container {
  width: 445px;
  height: 110px;
  border-radius: 13px;
  background-color: #56b1a033;
  margin-bottom: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .item-information-container {
    height: 100%;
    display: flex;
    align-items: center;

    .item-icon-container {
      width: 66px;
      height: 63.8px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      //background-color: #b4e2cc;
      background-color: #c9e8d9;
      margin-right: 14px;
    }

    .item-name-price-container {
      max-width: 100px;
      p {
        width: 92px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #514d4d;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        color: #2e2c2c;
      }
    }
  }

  .item-weight-container {
    width: 80px;
    height: 26px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: relative;

    svg {
      position: absolute;
      right: 14px;
    }

    select {
      z-index: 1;
      cursor: pointer;
      padding: 0 14px;
      width: 100%;
      height: 26px;
      border-radius: 5px;
      color: #2c2b2b;
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      border: none;
      font-weight: 700;
      font-size: 13px;
      line-height: 19.5px;
      background: transparent;
    }

    select:focus {
      outline: none;
    }

    select:focus {
      outline: none;
    }
  }

  .item-tags-container {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .each-tag-container {
      width: 29px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-left: -10px;

      span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: #fff;
      }
    }
  }
}
