.homepage-right-section-container {
  height: 900px;
  width: 300px;
  padding: 52px 10px 33px 10px;
  display: flex;
  flex-direction: column;
  //border-right: 1px solid lightgray;

  div {
    width: 100%;
    padding-left: 9px;
    h1 {
      min-width: 58px;
      min-height: 23px;
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      color: #aaa8a8;
    }
  }

  .right-section-invites-container {
    height: 200px;
    border-bottom: 1px solid #f0f0f0;
  }

  .right-section-recent-payments-container {
    height: 280px;
    padding-top: 26px;
    border-bottom: 1px solid #f0f0f0;
  }

  .right-section-previous-orders-container {
    padding-top: 31px;
  }
}
